body{
    background: radial-gradient(ellipse at top right, #181a1d, transparent),
            radial-gradient(ellipse at bottom, #141313, transparent);

    font-family: monospace;
    font-size: 23px;
    margin-left: 100px;
    
}

nav{
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 30px;
    font-size: 30px;
}

img{
    width: 300px;
    height: 600px;
    border-radius: 12%;
}